<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  >
  <Product
    Id="7FAD6F97-D84E-42CC-A600-5F4EC3460FF5"
    UpgradeCode="0596ECAA-4D39-48E9-AB23-DA89A85AE67E"
    Name="Sol"
    Version="$VERSION"
    Manufacturer="Sol Developers &lt;vector@datadoghq.com&gt;"
    Language="1033"
    >
    <Package
      Id="*"
      Description="Sol Installer"
      InstallerVersion="200"
      Compressed="yes"
      Languages="1033"
      Platform="x64"
      />
    <Icon
      Id="SolIco"
      SourceFile="vector.ico"
      />
    <SetProperty
      Id="DocsURL"
      Value="https://vector.dev/docs"
      Sequence="execute"
      Before="CreateShortcuts"
      />
    <Icon
      Id="DocsIco"
      SourceFile="docs.ico"
      />
    <UIRef
      Id="WixUI_InstallDir"
      />
    <WixVariable
      Id="WixUIDialogBmp"
      Value="background.png"
      />
    <WixVariable
      Id="WixUIBannerBmp"
      Value="banner.png"
      />
    <WixVariable
      Id="WixUILicenseRtf"
      Value="LICENSE.rtf"
      />
    <Property
      Id="WIXUI_INSTALLDIR"
      Value="INSTALLDIR"
      />
    <Condition
      Message="You need to be an administrator to install Sol."
      >
      Privileged
    </Condition>
    <Media
      Id="1"
      Cabinet="sol.cab"
      EmbedCab="yes"
      />
    <Directory
      Id="TARGETDIR"
      Name="SourceDir"
      >
      <Directory
        Id="ProgramFiles64Folder"
        >
        <Directory
          Id="INSTALLDIR"
          Name="Sol"
          >
          <Component
            Id="SolCmd"
            Guid="C96DDA4D-D2B7-4094-91E6-7350764A4866"
            Win64="yes"
            >
            <File
              Id="SolCmd"
              DiskId="1"
              Source="sol-cmd.bat"
              />
          </Component>
        </Directory>
      </Directory>
      <Directory
        Id="ProgramMenuFolder"
        >
        <Directory
          Id="SolStartMenuDir"
          Name="Sol"
          >
          <Component
            Id="SolCmdShortcutComponent"
            Guid="6389769A-136F-4DEC-AB2D-ECD5BD448BA2"
            >
            <Shortcut
              Id="SolCmdShortcut"
              Name="Sol CMD"
              Description="Sol's command prompt environment"
              Directory="SolStartMenuDir"
              Icon="SolIco"
              Target="[INSTALLDIR]sol-cmd.bat"
              />
            <Shortcut
              Id="SolDocsShortcut"
              Name="Documentation"
              Description="Sol's documentation website"
              Directory="SolStartMenuDir"
              Icon="DocsIco"
              Target="[DocsURL]"
              />
            <Shortcut
              Id="SolConfigShortcut"
              Name="Configuration"
              Description="Sol's configuration folder"
              Directory="SolStartMenuDir"
              Target="[INSTALLDIR]config"
              />
            <RemoveFolder
              Id="RemoveStartMenuDirSolCmd"
              Directory="SolStartMenuDir"
              On="uninstall"
              />
            <RegistryValue
              Root="HKCU"
              Key="Software\Sol"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"
              />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature
      Id="Sol"
      Description="The complete installation."
      Level="1"
      Display="expand"
      ConfigurableDirectory="INSTALLDIR"
      >
      <ComponentGroupRef
        Id="Sol"
        />
      <ComponentRef
        Id="SolCmd"
        />
      <ComponentRef
        Id="SolCmdShortcutComponent"
        />
    </Feature>
  </Product>
</Wix>
